        *{
            margin: 0%;
            padding: 0%;
        }
        #div_cl{
            width: 250px;
            height: 405px;
            border-style: outset;
            border-radius: 10px;
            border-width: 4px;
            border-color: rgb(207, 205, 205);
        }
        #input{
            margin-top: 20px;
            margin-bottom: 15px;
            width: 220px;
            height: 60px;
            border-color: rgb(202, 199, 199);
            font-size: 38px;
        }
        .button{
            width: 55px;
            height: 55px;
            margin: 2px;
            border-radius: 10px;
            border-color: blanchedalmond;
        }